.cards-wraper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 24px;
    padding-top: 20px;

    @media screen and (min-width: 740px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @media screen and (min-width: 1000px) { 
        padding-top: 62px;
    }
}