$white: #FFFFFF;
$purple: #C5ADEF;
$gray: #B2B3BB;
$light_gray: #ECF1F8;
$light_gray_opacity: rgba(236, 241, 248, 0.4);
$dark_gray: #3E4056;
$pink: #ED5267;

$header_bg_color: $white;
$body_bg_color: $light_gray_opacity;
$dropdown_menu_bg_color: $white;
$switcher_bg_color: $pink;
$switcher_circle_bg: $white;
$card_bg_color: $white;
$hashtag_bg_color: $light_gray;

$nav_color: $dark_gray;
$card_color: $dark_gray;
$dropdown_menu_color: $dark_gray;
$dropdown_menu_hover_bg_color: $light_gray;

$primary_font: "Montserrat", sans-serif;
$secondary_font: "Open Sans", sans-serif;

$nav_font: $secondary_font;

$s_font_size: 14px;
$m_font_size: 16px;
$l_font_size: 18px;
$xl_font_size: 24px;
$xxl_font_size: 36px;